/*START COMMON CSS */
h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive;
    color: #3e3e3e;
}
p, a{
    font-family: 'Roboto', sans-serif;
    color: #3e3e3e;
}
.custom-cart-icon {
    font-size: 14px;
    margin-right: 5px;
}

.custom-btn {
    background: none;
    color: #000;
    border: 1px solid black;
    padding: 10px 25px;
}
.custom-btn:hover {
    background: black;
    border: 1px solid black;
}
button.btn.btn-primary.custom-btn:focus {
    border: 1px solid black;
    outline: none;
    background: black;
    box-shadow: none;
}

button.btn.btn-primary.custom-btn:active {
    outline: none;
    background: #000;
    border:1px solid black;
}
/*END COMMON CSS */

/*START HEADER CSS */
h1{
    font-size: 80px;
    /* color: #e24f11; */
    /* color: #fa804c; */
    color: #fabe4c;
}
a.nav-link {
  
    font-family: 'Roboto';
    font-weight: 500;
}
.highlight{
    color: #3e3e3e;
   }
header{
    background: #FFF9F4;

}
a.navbar-brand img {
    width: 270px;
}
/* END HEADER CSS */

/* START CASUAL SHOES & FORMAL  SHOES CSS */
.section-title{
    font-size: 48px;
}
.custom-card {
    border: none;
    border-radius: 20px;
}
.custom-card img{
    border-radius: 20px;
}
.custom-card-footer{
    background: white;
    border: none;
}
.custom-img {
    height: 315px;
}
/* END CASUAL SHOES & FORMAL  SHOES CSS */

/* START ABOUT CSS*/
section.py-5.about .custom-col img {
    width: 82px;
    height: 78px;
}

.custom-icon-box{
    border-radius: 20px;
}
/* END ABOUT CSS */

/* START NEWSLETTER CSS */

.newsletter{
    background-color: rgba(0, 0, 0, 0.76);
}
.newsletter-btn{
    background: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 25px;
    border-radius: 0;
}
.newsletter-btn:hover {
    background: #fff;
    border: 1px solid #fff;
    color: black;
}
.newsletter-btn:focus {
    border: 1px solid #fff;
    outline: none;
    background: #fff;
    box-shadow: none;
    color: black;
}

.newsletter-btn:active {
    outline: none;
    background: #fff;
    border:1px solid #fff;
    color: black;
}
/* START CONTACT */
.contact-card{
    border: none;
}
/* END CONTACT */

/* START FOOTER */
footer p{
font-size: 12px;
color: #3e3e3e;
}